# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings
.vscode/
*.code-workspace

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Database and other sensitive files
*.sqlite3
*.db

# Environment variables
.env
*.env

# Compiled source
*.o
*.so
*.dll
*.dylib

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml
*.cover

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?